{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}Nos cours{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container courses-container">
        <!-- Categories -->
        <section id="courses">
            <h1 class="my-5 text-center section-title">Toutes nos catégories</h1>
            <div class="row">
                <!-- FILTERIZER CONTROLS -->
                <div class="col-md-12 controls-filter">
                    <ul>
                        <!-- For filtering controls add -->
                        <div class="d-flex justify-content-center filter-categories">
                            <li data-filter="all" class="course-categories m-2"> Tous les cours </li>
                            {% for category in categories %}
                                <li data-filter="{{ category.id }}" class="course-categories m-2"> {{ category.name }} </li>
                            {% endfor %}
                        </div>

                    </ul>
                </div>
                <!-- FILTERIZER COURSES -->
                <div class="col-md-12 filter-container">
                    <!-- Card -->
                    {% for course in courses %}
                    <div class="filtr-item d-flex justify-content-center" data-category="{{ course.category.id }}" data-sort="value">
                        <div class="card m-3" style="width: 18rem;">
                            <img src="{{ asset('img/sections/') ~ course.image }}" class="card-img-top" alt="{{ course.name }}"/>
                            <div class="card-body courses-card-body">
                                <h5 class="card-title">{{ course.name }}</h5>
                                <p class="card-text">
                                    {{ course.smallDescription }}
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <i class="icofont-euro"></i>
                                    <h6 class="m-0">{{ course.price }},00</h6>
                                </li>
                                <li class="list-group-item">
                                    <i class="icofont-clock-time"></i>
                                    <h6 class="m-0">{{ course.duration }} min</h6>
                                </li>
                                <li class="list-group-item">
                                    <i class="icofont-calendar"></i>
                                    <h6 class="m-0">{{ course.schedule }}</h6>
                                </li>
                            </ul>
                            <div class="card-body text-center course-info">
                                <a href="{{ path('course', {'slug': course.slug}) }}" class="card-link fw-bold" style="text-decoration: none; color: #3c7bff;">Plus d'infos</a>
                                <span class="text-muted">Ajouté le: {{ course.createdAt|date('d/m/Y') }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End cards -->
                </div>
            </div>
        </section>
        <!-- End Categories -->
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}
