{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Votre cours{% endblock %}

{% block body %}
    <main class="container course">
        <section id="detail">
            <h2 class="my-5">{{ course.name }}</h2>

            {# TABS #}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#comments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#postcomments">Postez un commentaire</a>
                </li>
            </ul>

            {# TABS CONTENTS #}
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/sections/') ~ course.image }}" alt="{{ course.name }}" class="img-fluid">
                        </div>
                        <div class="col-md-7 course-detail">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}</p>
                            <h4>Informations</h4>
                            <div class="description">
                                <p class="m-0 text-muted">Cours créé le {{ course.createdAt|date('d/m/Y') }}</p>
                                <p class="m-0">
                                    <i class="icofont-dollar"></i>
                                    <span>{{ course.price }} &euro;</span>
                                </p>
                                <p class="m-0">
                                    <i class="icofont-clock-time"></i>
                                    <span>{{ course.duration }} minutes</span>
                                </p>
                                <p class="m-0">
                                    <i class="icofont-question"></i>
                                    <span>{{ course.category.name }}</span>
                                </p>
                                <p class="m-0">
                                    <i class="icofont-calendar"></i>
                                    <span>{{ course.schedule }}</span>
                                </p>
                                <p class="m-0">
                                    <i class="icofont-check"></i>
                                    <span title="{{ course.level.prerequisite }}">
                                        {{ course.level.name }}
                                    </span>
                                </p>
                                <p class="m-0">
                                    <i class="icofont-male"></i>
                                    <span>{{ course.teacher.firstName }} {{ course.teacher.lastName }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="details">

                    <h4>Description complète</h4>
                    <p>{{ course.fullDescription|raw }}</p>
                    <p><a href="{{ asset('img/pdf/') ~ course.program }}" class="btn btn-primary">Télécharger le programme</a></p>
                </div>

                {# COMMENTS #}
                <div class="tab-pane fade" id="comments">
                    {% if course.comments|length >= 1 %}
                        <h4 class="my-4">Nombre de commentaires: <span class="badge bg-secondary">{{ course.comments|length }}</span></h4>
                    {% endif %}
                    {% if course.comments|length >= 2 %}
                        {% set somme = 0 %}
                            {% for comment in course.comments %}
                                    {% set somme = somme + comment.rating %}
                            {% endfor %}
                        <h4 class="my-4">Avis: <span class="badge bg-primary">{{ (somme / course.comments|length)|number_format(1) }} / 5</span></h4>
                    {% endif %}
                    {% for comment in course.comments %}
                        {% if comment.isPublished %}
                            <h5>{{ comment.title|capitalize }}</h5>
                            <h6>{{ comment.author.firstName }} {{ comment.author.lastName }}</h6>
                            <h6 class="text-muted">Ajouté le {{ comment.createdAt|date('d/m/Y')}} &nbsp;&nbsp;
                                {% include 'partials/rating.html.twig' %}
                            </h6>
                            <p>{{ comment.comment }}</p>
                            <hr>
                            {% elseif not comment.isPublished %}
                            <h5>{{ comment.title|capitalize }}</h5>
                            <h6>{{ comment.author.firstName }} {{ comment.author.lastName }}</h6>
                            <h6 class="text-muted">Ajouté le {{ comment.createdAt|date('d/m/Y')}} &nbsp;&nbsp;
                                {% include 'partials/rating.html.twig' %}
                            </h6>
                            <p class="text-warning fw-bold">Ce commentaire a été masqué</p>
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>

                {# POST COMMENT #}
                <div class="tab-pane fade" id="postcomments">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            {% if is_granted('ROLE_USER') %}
                                     {{ form_start(form) }}
                                     {{ form_widget(form) }}
                                     <button type="submit" class="btn btn-secondary form-control">Ajouter le commentaire</button>
                                     {{ form_end(form) }}
                                {% else %}
                                <h4>Vous devez être connecté</h4>
                                <a href="" class="btn btn-outline-primary">Login</a> <a href="" class="btn form-btn">S'enregistrer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

