{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Sign in{% endblock %}

{% block body %}
    <main class="container login-form">
        <section class="row">
            <div class="col-md-6 offset-3 forms-fields">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="my-5 text-center section-title">S'identifier</h1>
                <form method="post">
                    <div class="form-group my-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="email" class="form-control" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="form-group my-2">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control" name="_password">
                    </div>
                    <div class="form-group my-3">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                       <button class="btn form-btn form-control" type="submit">S'identifier</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
