{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/slider/slider01.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider02.jpg') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/slider/slider03.jpg') }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <!-- End Slider -->

<!-- Latest courses -->
<main class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <section class="home-courses">
        <h2 class="my-5 text-center section-title">Nos dernières formations</h2>
        <div class="row">
            {% for c in courses %}
            <div class="col-md-4">
                <div style="height: 350px;">
                    <div class="mb-3 home-image-container w-100">
                        <img alt="" style="height: 200px; width: 100%" src="{{ asset('img/sections/') ~ c.image }}" class="home-courses-image rounded-2">
                    </div>
                        <div>
                            <h5 class="text-black-50 course-title fw-bold">{{ c.name }}</h5>
                            <p class="course-description">{{c.smallDescription}}</p>
                            <a href="{{ path('course', {'slug': c.slug}) }}" class="btn btn-primary btn-sm">Plus d'infos</a>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Latest courses -->

    <!-- Latest news -->
    <section class="home-news">
        <h2 class="my-5 text-center section-title">Nos dernières actualités</h2>
        <div class="row">
            {% for new in news %}
            <div class="col-lg-6 col-md-12 my-3">
                <div class="card bg-light">
                    <img src="{{ asset('/img/news/' ~  new.image) }}" alt="{{ new.name }}" style="height: 300px;">
                    <div class="card-body d-flex flex-column justify-content-between" style="height: 250px;">
                        <h4>{{ new.name }}</h4>
                        <p class="m-0">{{ new.content }}</p>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <p class="text-muted mt-3">{{ new.createdAt|date('d/m/y') }}</p>
                            <p class="m-0">
                                <img src="{{ asset('/img/avatar/' ~  new.author.image) }}" alt="" style="width: 30px;" class="rounded-pill">
                                <span class="text-uppercase" style="margin-left: 20px; font-size: 0.8rem">{{ new.author.firstName }} {{ new.author.lastName }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Latest news -->

    <!-- Cool Links -->
    <section>
        <h2 class="my-5 text-center section-title">Informations importantes</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-calendar"></i> HORAIRES</div>
                    <div class="card-body">
                        <h4 class="card-title">Horaires de 2019-2020</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-info-square"></i> INFORMATIONS</div>
                    <div class="card-body">
                        <h4 class="card-title">Scéance d'informations</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-shadow text-dark mb-3">
                    <div class="card-header text-center text-primary"><i class="icofont-ui-edit"></i> INSCRIPTION</div>
                    <div class="card-body">
                        <h4 class="card-title">Documents d'inscription</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Cool Links -->
</main>
{% endblock %}
