{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}S'enregistrer{% endblock %}

{% block body %}
    <div class="main">
        <section class="row w-100">
            <div class="col-md-8 offset-2  forms-fields">
                <h1 class="my-5 text-center section-title">S'enregistrer</h1>
                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}
                <button type="submit" class="btn form-btn my-3">S'enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </section>
    </div>

{% endblock %}
