{# Navigation #}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Weblearning</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home') }}">Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('team') }}">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('news') }}">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('courses') }}">Tous les cours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('teachers') }}">Enseignants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {# Tester la connexion pour afficher les boutons ou le dropdown #}
                    {% if not app.user %}
                    <a href="{{ path('login') }}" class="btn btn-primary btn-sm"><i class="icofont-login"></i> S'identifier</a>
                </li>
                <li class="nav-item">
                    &nbsp;<a href="{{ path('app_register') }}" class="btn btn-primary btn-sm"><i class="icofont-user-alt-4"></i> S'enregistrer</a>
                </li>
                {% else %}
                    <div class="dropdown" style="margin-right: 25px;">
                        <button class="btn bg-primary dropdown-toggle btn-sm text-white profil-text" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ asset('img/avatar/') ~ app.user.image }}" alt="" class="avatar-mini">
                                {{ app.user.firstName }} {{ app.user.lastName }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{{ path('profile') }}">Mon profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('edit_profile') }}">Modifier profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('edit_password') }}">Modifier password</a></li>
                            <div class="dropdown-divider"></div>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('admin_courses') }}">Administration</a>
                                </li>
                                <div class="dropdown-divider"></div>
                            {% endif %}

                            <li><a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a></li>
                        </ul>
                    </div>
                {% endif %}
            </ul>
        </div>
</nav>
{# Affichage du message flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
{# End navigation #}

