{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} A propos {% endblock %}

{% block body %}
    <main class="container-fluid p-0">
        <div class="py-5 about-banner">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="about-title mb-2">A propos de Weblearning</h1>
                            <p class="about-text mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dicta eos iste magni rerum, vero!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-5">
            <div class="container px-5 my-5 py-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0 about-div">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                        <div class="d-flex flex-row align-items-end my-2">
                            <i class="icofont-wifi about-icon"></i>
                            <h2 class="h4 fw-bolder m-0">Cours en ligne</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at blanditiis, eaque eius eligendi exercitationem facere laborum odit optio perferendis quibusdam quo ratione rem. Commodi illo laudantium natus sint totam?</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 about-div">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <div class="d-flex flex-row align-items-end my-2">
                            <i class="icofont-clock-time about-icon"></i>
                            <h2 class="h4 fw-bolder m-0">Horaires flexibles</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur assumenda ducimus, modi molestiae natus nesciunt officiis, quasi quisquam recusandae rerum sequi totam veritatis voluptates.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 about-div">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <div class="d-flex flex-row align-items-end my-2">
                            <i class="icofont-dollar about-icon"></i>
                            <h2 class="h4 fw-bolder m-0">Prix intéressants</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad debitis, dicta facilis hic inventore minus molestiae neque numquam pariatur porro provident quas, quasi, quo rerum sapiente unde voluptatem voluptatum.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}