{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Teachers{% endblock %}

{% block body %}
    <main class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h2 class="my-5 text-center section-title">Enseignants</h2>
            {% for teacher in teachers %}
                <div class="card text-center my-5">
                    <div class="card-body d-flex flex-sm-column flex-lg-row align-items-center p-0 teacher-div">
                        <div class="col d-flex align-items-start">
                            <img src="{{ asset('/img/teachers/' ~ teacher.image) }}" alt="{{ teacher.firstName }} {{ teacher.lastName }}" style="height: 200px;">
                        </div>

                        <div class="col">
                            <h4>{{ teacher.firstName }}  {{ teacher.lastName }}</h4>
                            <ul class="list-unstyled">
                                {% if teacher.courses is empty %}
                                    <h5 class="text-muted">Aucun cours</h5>
                                    {% else %}
                                        <p class="fw-bold m-0">Cours donnés: </p>
                                    {% for course in teacher.courses %}
                                        <a href="{{ path('course', {'slug': course.slug}) }}" class="text-decoration-none btn p-0" style="color: #2c9dff;">{{ course.name }}</a><br>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}