{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Team{% endblock %}

{% block body %}
    <main class="container">
        <div class="row justify-content-center">
            <h1 class="my-5 text-center section-title">Notre équipe</h1>
            {% for t in team %}
                {% if (t.roles == ['ROLE_SUPER_ADMIN']) or (t.roles == ['ROLE_ADMIN'])  %}
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="rounded shadow-sm py-5 px-4 team-div">
                        <img src="{{ asset('/img/avatar/' ~ t.image) }}" alt="" width="200" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">{{ t.firstName }} {{ t.lastName }}</h5>
                    {% if (t.roles == ['ROLE_SUPER_ADMIN']) %}
                        <span class="small text-uppercase text-muted">Super Administrateur</span>
                    {% elseif (t.roles == ['ROLE_ADMIN']) %}
                        <span class="small text-uppercase text-muted">Administrateur</span>
                    {% endif %}
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="social-link"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}
