/* Weblearning CSS */
/* General */
body {
    font-size: 90%;
}

main {
    min-height: 80vh;
}

.navbar-brand {
    padding-right: 28px;
}

.navbar-nav .nav-item a,
.navbar-brand,
.profil-text {
    font-family: 'Roboto', sans-serif;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.banner {
    height: 300px;
    background: url("../img/banner/ban01.jpg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.section-title {
    font-family: "Hammersmith One", sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
}

.section-title:after {
    content: "";
    position: relative;
    width: 100px;
    height: 2px;
    display: block;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #727272;
}

/* Home */

.home-image-container {
    overflow: hidden;
}

.home-image-container img {
    transition: transform .4s;
}

.home-image-container:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

/* CourseS */

.course-categories {
    display: block;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000;
    padding-bottom: 5px;
    transition: transform 0.2s ease-in-out;
}

.courses-card-body {
    height: 150px;
}

.course-categories:hover {
    transform: scale(1.1);
}

.courses-container {
    overflow:hidden;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.list-group-item i {
    padding: 0 10px;
    font-size: 1.3rem;
    color: #3c7bff;
}

/* CoursE */

.course-title,
.course-description {
    font-family: 'Open Sans', sans-serif;
}

.course-info span {
    font-size: 0.8rem;
}

.course-info a,
.course-info span {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.course-detail h4 {
    text-transform: uppercase;
}

.course-detail .description i {
    font-size: 1.5rem;
}

.course-detail .description p {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.course-detail .description span {
    padding: 0 20px;
    font-size: 1rem;
    font-family: "Fira Code", sans-serif;
}

/* Profil */
.profile-info-container {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-info {
    width: 100px;
    font-size: 1.5rem;
    color: #adb5bd;
    font-weight: 600;
}

.profile-info span {
    color: #00416c;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}


/* Form login */
.login-form {
    min-height: 70vh;
}

/* avatars dropdown */
.avatar-mini {
    width: 40px;
    border-radius: 50%;
}

.alert {
    margin-bottom: 0;
}

.img-news {
    width: 100px;
}

/* About */
.about-title {
    font-family: "Hammersmith One", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 200;
}

.about-title:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    margin: 10px auto 0;
    background: #1846e3;
}

.about-text {
    font-family: 'Roboto Light', sans-serif;
    font-size: 1.2rem;
    color: #fff;
}

.about-icon {
    color: #1846e3;
    font-size: 2rem;
    margin-right: 10px;
}

.about-banner {
    background: url("../img/banner/ban02-nb.jpg") no-repeat;
}

.about-div i {
    transition: transform 0.2s ease-in-out;
}

.about-div:hover i {
    transform: scale(1.3);
}

.about-div h2 {
    transition: transform 0.2s ease-in-out;
}

.about-div:hover h2 {
    transform: translateX(5px);
}

/* News */
.news-add {
    transition: all 0.1s ease-in-out;
    font-family: "Fira Code", sans-serif;
}

.btn:focus,
.btn:active {
    outline: none; !important;
    box-shadow: none; !important;
}

.news-add:hover {
    transform: skew(-20deg);
    font-weight: 600;
    font-size: 0.9rem;
}

.news-div {
    height: fit-content;
    overflow: hidden;
    float: left;
    clear: none;
}

.news-jpg {
    width: 400px;
}


/* Team */
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    text-decoration: none;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.team-div {
    background: linear-gradient(to left top, #FFF, #ece8e8);
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
}

.team-div:hover {
    box-shadow: 50px 50px 15px rgba(0,0,0,0.3);
    transform: scale(1.1);
}


.form-btn {
    font-family: 'Hammersmith One', sans-serif;
    background: none;
    border: 1px solid #1e1e1c;
    transition: all 0.2s ease;
}

.form-btn:hover {
    background: #1e1e1c;
    color: #fff;
}

.forms-fields label,
.forms-fields legend {
    font-family: "Hammersmith One", sans-serif;
    font-size: 1.2rem;
}

.forms-fields input,
.forms-fields textarea {
    border-radius: 10px;
}



/* Footer */
footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dfdfdf;
}


footer a {
    padding: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.filtr-item img:hover {
    filter:grayscale(0%);
}

@media screen and (max-width: 576px) {
    .team-div:hover {
        transform: none;
    }
}

@media screen and (max-width: 992px) {
    /* Filerizr */
    .course-categories {
        font-size: 0.8rem;
    }

    .filter-categories {
        flex-wrap: wrap;
    }

    .filtr-item {
        width: 60%;

    }

    .filter-container {
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .profil-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
