{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Modifier une formation{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <h2 class="text-muted my-5">Modifier une formation</h2>
            <div class="col-md-9 offset-1 mb-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-secondary">Modifier la formation</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}