{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} Users{% endblock %}

{% block body %}
    <h2 class="my-5 text-muted">Gestion des users</h2>

    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Avatar</td>
            <td>Nom</td>
            <td>Email</td>
            <td>Rôle</td>
            <td>Crée le</td>
            <td>Actions</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <img src="{{ asset('img/avatar/') ~ user.image }}" alt="{{ user.firstName }} {{ user.lastName }}" class="admin-img">
                </td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.roles == ['ROLE_USER'] %}
                        User
                    {% elseif user.roles == ['ROLE_ADMIN'] %}
                        Admin
                    {% elseif user.roles == ['ROLE_SUPER_ADMIN'] %}
                        SuperAdmin
                    {% endif %}
                </td>
                <td>{{ user.createdAt|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('admin_edit_user', {'id': user.id}) }}" class="btn btn-success"><i class="icofont-ui-edit"></i></a> &nbsp;
                    {% if user.isDisabled %}
                        <a href="{{ path('admin_view_user', {'id': user.id}) }}" class="btn btn-light"><i class="icofont-eye-open"></i></a> &nbsp;
                    {% else %}
                        <a href="{{ path('admin_view_user', {'id': user.id}) }}" class="btn btn-light"><i class="icofont-eye-blocked"></i></a> &nbsp;
                    {% endif %}
                </td>
                {% if user.roles != ['ROLE_SUPER_ADMIN'] %}
                <td>
                    <a href="{{ path('admin_user_promote', {'id': user.id, role: 'ROLE_USER'}) }}" class="btn btn-secondary {% if user.roles == ['ROLE_USER'] %} disabled {% endif %}">U</a>
                    <a href="{{ path('admin_user_promote', {'id': user.id, role: 'ROLE_ADMIN'}) }}" class="btn btn-secondary {% if user.roles == ['ROLE_ADMIN'] %} disabled {% endif %}">A</a>
                    <a href="{{ path('admin_user_promote', {'id': user.id, role: 'ROLE_SUPER_ADMIN'}) }}" class="btn btn-secondary {% if user.roles == ['ROLE_SUPER_ADMIN'] %} disabled {% endif %}">SA</a>
                </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
