{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Actualités{% endblock %}

{% block body %}
    <h2 class="my-5 text-muted">Gestion des actualités</h2>

    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Image</td>
            <td>Nom</td>
            <td>Auteur</td>
            <td>Créée le</td>
            <td>Contenu</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for new in news %}
            <tr>
                <td>
                    <img src="{{ asset('img/news/') ~ new.image }}" alt="{{ new.name }}" class="admin-img">
                </td>
                <td>{{ new.name }}</td>
                <td>{{ new.author.firstName }} {{ new.author.lastName }}</td>
                <td>{{ new.createdAt|date('d/m/Y') }}</td>
                <td>{{ new.content|length > 70 ? new.content|slice(0, 70) ~ '...' : new.content  }}</td>
                <td>
                    <a href="{{ path('admin_edit_new', {'id': new.id } )}}" class="btn btn-success"><i class="icofont-ui-edit"></i></a>
                    <a href="{{ path('admin_del_new', {'id': new.id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sur de vouloir supprimer cette new?')"><i class="icofont-ui-delete"></i></a>
                    {% if new.isPublished %}
                        <a href="{{ path('admin_view_new', {'id': new.id}) }}" class="btn btn-light"><i class="icofont-eye-open"></i></a> &nbsp;
                    {% else %}
                        <a href="{{ path('admin_view_new', {'id': new.id}) }}" class="btn btn-light"><i class="icofont-eye-blocked"></i></a> &nbsp;
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
