{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ajouter une news{% endblock %}

{% block body %}
    <main class="container">
        <section class="row justify-content-center">
            <h2 class="my-5 text-center section-title">Ajouter une news</h2>
            <div class="col-md-9 mb-3 forms-fields">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-secondary">Ajouter la news</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}