{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}News{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="my-5 text-center section-title">Actualités</h2>
                {% if app.user %}
                    <p>
                        <i class="icofont-plus"><a href="{{ path('new_news') }}" class="btn news-add">Ajouter une news</a></i>
                    </p>
                {% else %}
                    <p class="text-muted text-center">Veuillez <a class="fw-bold" style="text-decoration: none; color: #427ab0;" href="{{ path('app_register') }}">créer un compte</a> pour poster une news. Si vous possédez déjà un compte, veuillez vous<a class="fw-bold" style="text-decoration: none; color: #427ab0;" href="{{ path('login') }}"> connecter</a></p>
                {% endif %}
            </div>
                {% for new in news %}
                    <div class="card text-center my-4 p-0">

                        <div class="card-body d-flex flex-lg-row flex-sm-column align-items-center p-0">
                                {% set jpgformat = ".jpg" %}
                                {% if jpgformat in new.image %}
                                    <div class="col-lg-4 text-start justify-content-lg-start justify-content-sm-center">
                                            <img src="{{ asset('/img/news/' ~ new.image) }}" alt="{{ new.name }}" class="img-fluid text-lg-start text-sm-center">
                                    </div>
                                {% else %}
                                    <div class="col-lg-4 text-center justify-content-lg-start justify-content-sm-center">
                                        <img src="{{ asset('/img/news/' ~ new.image) }}" alt="{{ new.name }}" style="width: 150px; padding: 15px;">
                                    </div>
                                {% endif %}

                            <div class="col-lg-8 text-start d-flex flex-column mx-3">
                                <h2 class="text-muted m-0 p-2" style="font-size: 1.5rem;">{{ new.name|capitalize }}</h2>
                                <p class="card-text p-2" style="width:90%">{{ new.content }}</p>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-center p-2 d-flex flex-row justify-content-between">
                            <p class="text-muted m-0 d-flex align-items-center">{{ new.createdAt|date("d/m/Y") }}</p>
                            <p class="d-flex flex-row align-items-center my-2 justify-content-lg-start justify-content-sm-center">
                                <img src="{{ asset('/img/avatar/' ~  new.author.image) }}" alt="" style="width: 30px;" class="rounded-pill">
                                <span class="text-uppercase" style="margin-left: 20px; margin-top: 3px; font-size: 0.8rem">{{ new.author.firstName }} {{ new.author.lastName }}</span>
                            </p>
                        </div>
                    </div>
                {% endfor %}

        </div>

        <div class="navigation">
            {{ knp_pagination_render(news) }}
        </div>
    </main>

{% endblock %}
