{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Contact{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-lg-2 forms-fields">
                <h1 class="my-5 text-center section-title">Nous contacter</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn form-btn">Envoyer</button>
            </div>
        </section>
    </main>
{% endblock %}
