{% apply inline_css %}
    <style>
        h1 {
            color: #3e3f3a;
            font-size: 1.2rem;
        }

        p {
            color: #284a6d;
        }
    </style>

    <h1>De: {{ contact.firstName }} {{ contact.lastName }}</h1>

    <p>Sujet: {{ contact.subject }}</p>

    <hr>

    <p>{{ contact.message }}</p>


{% endapply %}