{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} Comments{% endblock %}

{% block body %}
    <h2 class="my-5 text-muted">Gestion des commentaires</h2>

    <table id="table-admin" class="table table-hover">
        <thead>
        <tr>
            <td>Avatar de l'auteur</td>
            <td>Auteur</td>
            <td>Cours</td>
            <td>Titre</td>
            <td>Commentaire</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>
                    <img src="{{ asset('img/avatar/') ~ comment.author.image }}"  alt="{{ comment.author.firstName }}" class="admin-img">
                </td>
                <td>{{ comment.author.firstName }} {{ comment.author.lastName }}</td>
                <td>{{ comment.course.name }}</td>
                <td>{{ comment.title }}</td>
                <td>{{ comment.comment|length > 20 ? comment.comment|slice(0, 20) ~ '...' : comment.comment }}</td>
                <td style="width: fit-content;">
                    <a href="{{ path('admin_del_comment', {'id': comment.id}) }}" class="btn btn-danger"><i class="icofont-ui-delete" onclick="return confirm('Etes vous sur de vouloir supprimer ce commentaire?');"></i></a>
                    {% if comment.isPublished %}
                        <a href="{{ path('admin_view_comment', {'id': comment.id}) }}" class="btn btn-light"><i class="icofont-eye-open"></i></a>
                    {% else %}
                        <a href="{{ path('admin_view_comment', {'id': comment.id}) }}" class="btn btn-light"><i class="icofont-eye-blocked"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
