{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}

{% block body %}

    <main class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 my-3 forms-fields">
                <h1 class="my-5 text-center section-title">Modifier votre mot de passe</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn form-btn">Modifier votre mot de passe</button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
