{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Modifier votre profil{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12 my-3 forms-fields">
                <h1 class="my-5 text-center section-title">Modifier votre profil</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn form-btn">Modifier votre profil</button>
            </div>
        </div>
    </main>
{% endblock %}