{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Profile de {{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
    <main class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <h1 class="my-5 text-center section-title">Votre profil</h1>
            <div class="col-md-12 d-flex flex-lg-wrap profil-container">
                <div class="col-sm-12 col-md-5 my-5 ">
                    <h4 class="mb-3 text-center">Vos informations</h4>
                    <div class="card mx-auto text-center my-2" style="width: 25rem;">
                        <img src="{{ asset('/img/avatar/' ~ app.user.image) }}" class="card-img-top img-fluid" alt="{{ app.user.firstName }}">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ app.user.firstName }} {{ app.user.lastName }}</h5>
                            <p class="card-text m-0 fw-bold">{{ app.user.email }}</p>
                            {% if app.user.roles == ['ROLE_USER'] %}
                                <h6>Rôle: User</h6>
                            {% endif %}
                            {% if app.user.roles == ['ROLE_ADMIN'] %}
                                <span class="small text-uppercase text-muted">Administrateur</span>
                            {% endif %}
                            {% if app.user.roles == ['ROLE_SUPER_ADMIN'] %}
                                <span class="small text-uppercase text-muted">Super Administrateur</span>
                            {% endif %}
                            <br>
                            <div class="profile-info-container">
                                <p class="card-text profile-info fw-bold">
                                    <i class="icofont-calendar"></i> <br>
                                    <span>{{ app.user.createdAt|date('d/m/Y') }}</span>
                                </p>
                                <p class="card-text profile-info fw-bold">
                                    <i class="icofont-loop"></i> <br>
                                    <span>{{ app.user.lastLogAt|date('d/m/Y') }}</span>
                                </p>
                                <p class="card-text profile-info fw-bold">
                                    <i class="icofont-comment"></i><br>
                                    <span>{{ app.user.comments|length }}</span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 my-5">
                        <h4 class="mb-3">Vos commentaires</h4>
                        {% for comment in app.user.comments %}
                            <p class="card-text">"{{ comment.comment }}"<br><br>
                                Posté le: {{ comment.createdAt|date('d/m/Y') }} sur le cours
                                    <a href="{{ path('course', {'slug': comment.course.slug}) }}" class="text-decoration-none text-info">{{ comment.course.name }}</a></p>
                            <hr>
                        {% endfor %}
            </div>

            </div>
        </div>
    </main>
{% endblock %}
